/* Reset CSS */

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Définition des polices personnalisées */
@font-face {
  font-family: '2Dumb';
  src: url('../fonts/2Dumb.ttf') format('truetype');
}

/* Eléments principaux de la page */

body {
  font-family: Arial, Georgia, 'Times New Roman', Times, serif;
  font-size: 14px;
}

h1,
h2 {
  font-family: '2Dumb', Georgia, 'Times New Roman', Times, serif;
}

h1 {
  text-align: center;
  font-weight: 900;
  font-size: 1.8em;
  margin-bottom: 2px;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  padding: 0 15px;
  position: relative;
}

header:before {
  content: ' ';
  position: absolute;
  width: 98%;
  left: 50%;
  transform: translateX(-50%);
  height: 3px;
  border-radius: 50%;
  background: rgb(206, 206, 206);
  text-align: center;
  bottom: -10px;
}

.separator {
  width: 85%;
  height: 3px;
  transform: translateX(10%);
  border-radius: 50%;
  background: rgb(206, 206, 206);
  text-align: center;
  bottom: -10px;
  background: darkblue;
}

header::after {
  content: '';
  position: absolute;
  width: 5px;
  height: 3px;
  bottom: -10px;
  background: rgb(255, 255, 255);
  animation: moving 6s infinite linear;
  animation-direction: alternate;
}

@keyframes moving {
  0% {
    opacity: 0.13;
    left: 2%;
  }
  10% {
    opacity: 1;
    left: 10%;
  }
  90% {
    opacity: 1;
    left: 90%;
  }
  100% {
    opacity: 0.13;
    left: 100%;
  }
}

header h2 {
  font-size: 1.1em;
  margin-top: 0px;
  font-weight: normal;
}

#logo_site {
  width: 375px;
  height: 48px;
}

/* Navigation */
nav ul {
  list-style-type: none;
  display: flex;
}

nav li {
  margin-right: 15px;
}

nav a {
  font-size: 1.3em;
  color: #181818;
  padding: 3px 10px;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 10px 10px 0 0;
  transition: 0.4s ease;
}

nav a:hover {
  background: #dad8d8c2;
}

#menu_principal {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}

.element {
  width: 100px;
  box-shadow: 0px 2px 5px #1c1a19;
  border-radius: 3px;
  flex-direction: row;
  margin: 2px;
}

/* sections */

#donnees {
  display: flex;
}

/* Section gauche */
#section_gauche {
  padding-top: 5px;
  width: 60%;
  background-color: rgba(241, 241, 237, 0.719);
  text-align: center;
}

#section_gauche p {
  text-align: left;
  font-weight: 500;
  font-size: 1.1em;
  padding: 0 30px;
}

#section_gauche nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#section_gauche ul {
  text-align: left;
  margin: 0 100px;
}

/* Configuration des menus déroulants - section à gauche */
#section_gauche select {
  cursor: pointer;
  height: 26px;
  border-radius: 15px;
  margin: 5px 0;
  padding: 0 5px;
}

#section_gauche label {
  color: rgb(12, 12, 110);
  font-size: 1.1rem;
  padding-right: 20px;
}

#section_gauche .liste-departements,
#section_gauche .liste-regions,
#section_gauche .liste-themes {
  display: flex;
  flex-direction: column;
}

select {
  margin: 5px;
}

#departements,
#regions,
#themes {
  background: rgba(102, 102, 255, 0.1);
  color: rgb(17, 5, 190);
  border: 0;
}

#section_gauche #container_cartefrance {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.carte_par_departements,
.carte_par_regions,
.carte_par_themes {
  width: 50%;
}

#container_cartefrance img {
  padding: 10px;
  width: 80%;
  transition: 0.4s ease;
}

#container_cartefrance img:hover {
  -ms-transform: scale(1.2) translateY(20px); /* IE 9 */
  -webkit-transform: scale(1.2) translateY(20px); /* Safari 3-8 */
  transform: scale(1.2) translateY(20px);
}

/* section droite */
#section_droite h2 {
  text-align: center;
  font-weight: bold;
  font-size: 1.4em;
  margin-bottom: 2px;
}

#section_droite {
  text-align: center;
  width: 40%;
  /*  box-shadow: 0px 2px 5px #1c1a19; */
  /*  border-radius: 5px; */
  padding: 10px;
}

.logo_regions {
  padding: 0.1em;
  width: 80px;
}

.logo_departements {
  padding: 0.1em;
  width: 60px;
}

.logo_themes {
  padding: 0.1em;
  width: 60px;
}

/* Configuration des menus déroulants - section à droite */
#section_droite select {
  box-shadow: 1px 1px 3px #ccc;
  border-radius: 15px;
  margin-bottom: 10px;
}

#section_droite .liste_regions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  row-gap: 20px;
  column-gap: 10px;
}

#section_droite .liste_departements {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  row-gap: 10px;
  column-gap: 2px;
}

#section_droite .liste_themes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  row-gap: 10px;
  column-gap: 2px;
}

/* section centrale */
#section_centrale {
  text-align: left;
  width: 100%;
  padding: 10px;
}

#section_centrale h2 {
  text-align: center;
  font-weight: bold;
  font-size: 1.4em;
  margin: 5px;
}

#section_centrale p,
#section_centrale ul {
  width: 90%;
}

#section_centrale p {
  padding-left: 10%;
}

#section_centrale ul {
  padding-left: 15%;
}

/* Page A propos */
#container_imagesapropos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#container_imagesapropos img {
  width: 150px;
  padding: 10 15px;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

#container_imagesapropos img:hover {
  -ms-transform: scale(2); /* IE 9 */
  -webkit-transform: scale(2); /* Safari 3-8 */
  transform: scale(2);
}

/* flexisel */

#flexisel h3 {
  text-align: center;
}

.nbs-flexisel-ul {
  height: 180px;
}

.nbs-flexisel-item img {
  max-height: 125px;
}

.nbs-flexisel-ul figcaption {
  font-size: 0.8rem;
  line-height: 0.9rem;
}

.nbs-flexisel-ul p {
  font-size: 0.7rem;
  line-height: 0.8rem;
}

iframe {
  border: 0px;
  padding: 5px 2% 0px;
}
