/* Reset CSS */

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Définition des polices personnalisées */
@font-face {
  font-family: '2Dumb';
  src: url('../fonts/2Dumb.ttf') format('truetype');
}

/* Eléments principaux de la page */

body {
  font-family: Arial, Georgia, 'Times New Roman', Times, serif;
  font-size: 14px;
}

h1,
h2 {
  font-family: '2Dumb', Georgia, 'Times New Roman', Times, serif;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  position: relative;
}

header:after {
  content: '';
  position: absolute;
  width: 80%;
  height: 1px;
  background: rgb(235, 235, 235);
  bottom: -8px;
}

header h2 {
  font-size: 1.1em;
  margin-top: 0px;
  font-weight: normal;
}

#logo_site {
  width: 375px;
  height: 48px;
}

/* Navigation */
nav ul {
  list-style-type: none;
  display: flex;
}

nav li {
  margin-right: 15px;
}

nav a {
  font-size: 1.3em;
  color: #181818;
  padding: 3px 10px;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 10px 10px 0 0;
  transition: 0.4s ease;
}

nav a:hover {
  background: #dad8d8c2;
}

#liens_internes {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}

.element {
  width: 100px;
  box-shadow: 0px 2px 5px #1c1a19;
  border-radius: 3px;
  flex-direction: row;
  margin: 2px;
}

/* sections */

#donnees {
  display: flex;
}

/* Section gauche */
#section_gauche {
  padding-top: 5px;
  width: 60%;
  background-color: rgba(241, 241, 237, 0.719);
  text-align: center;
}

#section_gauche h1 {
  text-align: center;
  font-weight: 900;
  font-size: 1.8em;
  margin-bottom: 2px;
}

#section_gauche p {
  text-align: left;
  font-weight: 500;
  font-size: 1.1em;
  padding: 0 30px;
}

#section_gauche nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#section_gauche select {
  cursor: pointer;
  height: 20px;
}

/* Configuration des menus déroulants - section à gauche */
#section_gauche select {
  border-radius: 15px;
  margin-bottom: 10px;
  margin-right: 25px;
  margin-left: 5px;
  margin-top: 2px;
}

#section_gauche label {
  color: rgb(12, 12, 110);
  font-size: 1.1rem;
  padding-right: 20px;
}

.liste_regions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  row-gap: 20px;
  column-gap: 10px;
}

.liste_departements {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  row-gap: 10px;
  column-gap: 2px;
}

#departements,
#regions {
  background: rgba(102, 102, 255, 0.1);
  color: rgb(17, 5, 190);
  border: 0;
}

#section_gauche #container_cartefrance {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.carte_par_departements,
.carte_par_regions {
  width: 50%;
}

#container_cartefrance img {
  padding: 10px;
  width: 80%;
  transition: 0.4s ease;
}

#container_cartefrance img:hover {
  -ms-transform: scale(1.3) translateY(10px); /* IE 9 */
  -webkit-transform: scale(1.3) translateY(10px); /* Safari 3-8 */
  transform: scale(1.3) translateY(10px);
}

/* Page A propos */
#container_imagesapropos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#container_imagesapropos img {
  width: 150px;
  padding: 10 15px;
}

/* section droite */
#section_droite h2 {
  text-align: center;
  font-weight: bold;
  font-size: 1.4em;
  margin-bottom: 2px;
}

#section_droite {
  text-align: center;
  width: 40%;
  box-shadow: 0px 2px 5px #1c1a19;
  border-radius: 5px;
  padding: 10px;
}

.logo_regions {
  padding: 0.1em;
  width: 80px;
}

.logo_departements {
  padding: 0.1em;
  width: 60px;
}

/* Configuration des menus déroulants - section à droite */
#section_droite select {
  box-shadow: 1px 1px 3px #ccc;
  border-radius: 15px;
  margin-bottom: 10px;
}
